/*ETIQUETAS*/

p, 
a, 
h3, 
li, 
td {
    font-family: "Copperplate Gothic Bold";
    color: white;
    text-decoration-line: none;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

article {
    box-sizing: border-box;
    margin: 1%;
    padding: 2.5%;
    border: 10px solid rgba(0, 0, 0, 0.25);
    max-width: 100%;
    width: 31%;
    flex-grow: 1;  
    background: rgba(0, 0, 0, 0.38);
    box-shadow: rgba(0, 0, 0, 0.61) 0px -50px 100px -30px inset;
}

/*ID'S*/

/*ANIDADOS*/

main article:nth-child(1),
main article:nth-child(2),
main article:nth-child(3),
main article:nth-child(4),
main article:nth-child(5),
main article:nth-child(6){
    width: 100%;
}

article div {
    float: right;
}

article h3 {
    font-family: "Century Gothic";
    font-size: 3vw;
    margin: 0px;
}

.articulo-fecha,
article ul li,
article a {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.81);
}

.articulo-fecha span {
    font-weight: 600
}

article a.article-continuar {
    float: right;
    margin: 10px 0px;
    font-weight: 900;
}

article a {
    color: #8e6fec;
}

article p.articulo-intro {
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.81);
}

article a {
    transition: all 100ms ease 0s 
}

article a:hover {
    transform: scale(1.03);
    color: #a487ff;
}

article a:active {
    transform: scale(0.90);
    color: #55438e;
}

/*CLASES*/

.articulo-fecha  {
    font-style: italic
}